# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib
5. Tensor flow

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
Hours = 200 / 60
Hours

3.3333333333333335

**Objectives**

- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Create tables in markdown
- Convert minutes into hours
- Introducing airthmetic expressions

## Author
Sujata Khanal